@font-face {
    font-family: inter;
    src: url(fonts/Inter-VariableFont_slnt\,wght.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: inter;
    src: url(fonts/static/Inter-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: inter;
    src: url(fonts/static/Inter-Bold.ttf);
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: inter;
    src: url(fonts/static/Inter-ExtraBold.ttf);
    font-weight: bold;
    font-style: normal;
}


* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: inter;
    margin: 2rem 6rem;
    overflow-y: scroll;
}

body::-webkit-scrollbar {
    width: 4px;
}

body::-webkit-scrollbar-thumb {
    background-color: hsl(236, 13%, 42%);
    border-radius: 4px;
}

::selection {
    background-color: hsl(236, 13%, 42%);
    color: hsl(35, 77%, 62%);

}

h1 {
    font-weight: 800;
    font-size: 36px;
}

nav {
    height: 80px;
    background: hsl(36, 100%, 99%);
}

nav .logo {
    padding-top: 10px;
}

nav ul {
    float: right;
    padding-right: 0 110px;
}

nav li {
    display: inline-block;
    margin: 0 8px;
    line-height: 30px;
    padding: 20px 15px;
}

nav a {
    color: hsl(236, 13%, 42%);
    font-size: 15px;
}

a::after {
    content: "";
    height: 2px;
    width: 0%;
    background-color: hsl(5, 85%, 63%);
    display: block;
    transition: .5s ease-in-out;
}

a:hover::after {
    content: "";
    height: 2px;
    width: 100%;
    background-color: hsl(5, 85%, 63%);
    display: block;
}

nav #icon {
    line-height: 80px;
    float: right;
    margin-right: -80%;
    padding-top: 10px;
    cursor: pointer;
    display: none;
}

#info {
    width: 80%;
}

#info img {
    margin-top: 1rem;
    width: 87%;
}

section h1 {
    font-weight: 800;
    font-size: 36px;
}

#info .INFO {
    width: 80%;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 2fr 5fr;
    grid-column-gap: 4rem;
    letter-spacing: 2px;
}

.INFO p {
    color: hsl(236, 13%, 42%);
    line-height: 25px;
}

#info button {
    background: hsl(5, 85%, 63%);
    color: hsl(36, 100%, 99%);
    border: none;
    letter-spacing: 3.6px;
    padding: 10px 14px;
    margin-top: 20px;
}

button:hover {
    zoom: 105%;
}

button:focus {
    border: 3px dotted hsl(236, 13%, 42%);
    border-spacing: 7px;
}

aside {
    width: 25%;
    padding: 2rem 1.5rem;
    float: right;
    margin-top: -40.6%;
    background: hsl(240, 100%, 5%);
}

aside div {
    border-bottom: 1px solid hsl(236, 13%, 42%);
    width: 98%;
    margin: 1rem 0;
    justify-content: center;
}

aside h1 {
    color: hsl(35, 77%, 62%);
}

aside h2 {
    color: hsl(36, 100%, 99%);
    font-size: 20px;
    line-height: 60px;
}

aside p {
    color: hsl(236, 13%, 42%);
    line-height: 28px;
    margin-bottom: 1rem;
}

aside .last {
    border: none;
}

#bullet {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 3rem;
}

figure {
    height: 80%;
    width: auto;
    overflow: hidden;
}

figure img {
    height: 100%;
    display: block;
    transform: scale(1);
    transition: 0.7s ease-in-out;
}

figure:hover img {
    transform: scale(1.2);
}

#bullet .points {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 1rem;
}

.points div {
    padding-top: .8rem;
    line-height: 30px;
}

#bullet h4 {
    margin: 1rem 0;
}

#bullet h2, p{
    color: hsl(236, 13%, 42%);
}

@media (max-width: 1440px) {
    nav .logo {
        padding-left: 15px;
    }
    nav ul {
        margin-right: 0;
    }

    #info {
        width: 80%;
    }
    
    #info img {
        width: 80%;
    }

    #info .INFO {
        width: 80%;
    }
}

@media (max-width: 800px) {

}

@media (max-width: 375px){
    body {
        margin: 0 2rem;
    }

    nav {
        padding: 2rem 0;
    }

    nav .logo {
        margin-top: 10px;
        width: 90px;
    }

    nav #icon {
        display: block;
        margin-right: -23rem;
    }

    nav ul {
        position: fixed;
        width: 75%;
        height: 100%;
        background: hsl(36, 100%, 99%);
        top: 94px;
        right: -100%;
        text-align: center;
        transition: .5s all;
    }

    nav li {
        display: block;
        margin-top: 5px;
        padding-left: 2rem;
        text-align: left;
    }

    nav a {
        color: black;
        font-size: 24px;
        text-align: left;
    }

    a:hover {
        text-decoration: none;
    }

    nav ul.show {
        right: 0;
    }

    a:hover::after {
        display: none;
    }

    #info .bigger-pic {
        width: max-content;
        margin-right: 2rem;
    }

    #info .INFO{
        display: grid;
        grid-template-columns: 100vw;
        width: fit-content;
    }

    .INFO h1 {
        width: 42rem;
        font-size: 80px;
    }

    .INFO p {
        margin: 10px 0;
        font-size: 32px;
        line-height: 40px;
        width: 42rem;
    }
    
    button {
        width: 240px;
        height: 70px;
        font-size: x-large;
    }

    aside {
        display: inline-block;
        justify-self: center;
        width: 37rem;
        margin-top: 2.5rem;
        margin-right: -23rem;
    }

    aside h1 {
        font-size: 70px;
    }

    aside h2 {
        font-size: 40px;
        padding: 20px 0;
    }

    aside p {
        font-size: 30px;
        line-height: 44px;
    }

    #bullet {
        display: inline-block;
        width: 300px !important;
    }

    #bullet figure {
        width: 200px;
        height: auto;
        padding-bottom: 50px;
        overflow: hidden
    }

    figure:hover img {
        transform: scale(1);
    }

    .points div {
        align-content: center;
        width: 375px;
        font-size: 30px;
        padding-left: 18px;
        align-self: center;
    }
}